@media screen and (max-width: 700px) {
    .navigation__logo {
        text-align: center;
        font-size: 36px;
    }

    .navigation {
        flex-direction: column;
    }

    .dropdown-nav {
        width: 100%;
        overflow: hidden;
        position: unset;
    }

    .navigation__list {
        display: none;
        flex-direction: column;
    }

    .navigation__button {
        display: block;
    }

    .section-description {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 95%;
    }

    .work-section__intro {
        height: 200px;
    }

    .navigation,
    .navigation__list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .footer__grid {
        justify-content: center;
    }
}
